<nb-card
  accent="info"
  [nbSpinner]="showSpinner"
  nbSpinnerStatus="success"
  nbSpinnerSize="small"
  [style]="modalStyle"
  [nbSpinnerMessage]="spinnerMessage | translate"
>
  <nb-card-header class="modal-header">
    <span>Cambiar contraseña</span>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </nb-card-header>

  <nb-card-body class="modal-body">
    <form [formGroup]="objForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="currentPassword" [ngClass]="{ 'text-danger': submitted && f.currentPassword.errors }">
              <span *ngIf="required('currentPassword')" class="text-danger">*</span>
              Actual contraseña
            </label>
            <nb-form-field>
              <input
                #currentPassword
                [type]="getInputType()"
                nbInput
                fullWidth
                [status]="submitted && f.currentPassword.errors ? 'danger' : ''"
                placeholder="Ingrese actual contraseña"
                id="currentPassword"
                formControlName="currentPassword"
              />
              <button type="button" nbSuffix nbButton ghost (click)="toggleShowCurrentPassword()">
                <nb-icon
                  [icon]="showCurrentPassword ? 'eye-outline' : 'eye-off-2-outline'"
                  pack="eva"
                  [attr.aria-label]="showCurrentPassword ? 'hide password' : 'show password'"
                >
                </nb-icon>
              </button>
            </nb-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="password" [ngClass]="{ 'text-danger': submitted && f.password.errors }">
              <span *ngIf="required('password')" class="text-danger">*</span>
              Nueva contraseña
            </label>
            <nb-form-field>
              <input
                #password
                [type]="getInputTypePass1()"
                nbInput
                fullWidth
                [status]="submitted && f.password.errors ? 'danger' : ''"
                placeholder="Ingrese nueva contraseña"
                id="password"
                formControlName="password"
              />
              <button type="button" nbSuffix nbButton ghost (click)="toggleShowPassword1()">
                <nb-icon
                  [icon]="showPassword1 ? 'eye-outline' : 'eye-off-2-outline'"
                  pack="eva"
                  [attr.aria-label]="showPassword1 ? 'hide password' : 'show password'"
                >
                </nb-icon>
              </button>
            </nb-form-field>
            <ngx-password-strength
              [passwordToCheck]="f.password.value"
              (passwordStrength)="onPasswordStrengthChanged($event)"
            ></ngx-password-strength>
            <div *ngIf="submitted && f.password.errors" class="text-danger">
              <div *ngIf="f.password.errors?.minlength">La contraseña deber tener al menos 8 caracteres</div>
              <div *ngIf="f.password.errors.required">Es requerido</div>
            </div>
            <br />
            <label for="replyPassword" [ngClass]="{ 'text-danger': submitted && f.replyPassword.errors }">
              <span *ngIf="required('replyPassword')" class="text-danger">*</span>
              Repetir contraseña
            </label>
            <nb-form-field>
              <input
                #replyPassword
                [type]="getInputTypePass2()"
                nbInput
                fullWidth
                [status]="submitted && f.replyPassword.errors ? 'danger' : ''"
                placeholder="Repita nueva contraseña"
                id="replyPassword"
                formControlName="replyPassword"
                (input)="isSimilarPassword($event)"
              />
              <button type="button" nbSuffix nbButton ghost (click)="toggleShowPassword2()">
                <nb-icon
                  [icon]="showPassword2 ? 'eye-outline' : 'eye-off-2-outline'"
                  pack="eva"
                  [attr.aria-label]="showPassword2 ? 'hide password' : 'show password'"
                >
                </nb-icon>
              </button>
            </nb-form-field>
            <div *ngIf="submitted && f.replyPassword.errors" class="text-danger">
              <div *ngIf="f.replyPassword.errors?.minlength">La contraseña deber tener al menos 8 caracteres</div>
              <div *ngIf="f.replyPassword.errors.required">Es requerido</div>
              <div *ngIf="noSimilar">noSimilar</div>
            </div>
            <div *ngIf="noSimilar" class="text-danger">
              <div>Contraseñas no son iguales</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <nb-alert outline="info">
            Sugerencias para una buena contraseña:
            <ul class="message-warning">
              <li>Deber tener al menos 8 caracteres.</li>
              <li>Debe incluir 1 mayúscula.</li>
              <li>Debe incluir 1 número.</li>
              <li>Debe incluir 1 carácter especial.</li>
            </ul>
          </nb-alert>
        </div>
      </div>
    </form>
  </nb-card-body>

  <nb-card-footer class="modal-footer">
    <button nbButton type="button" shape="rectangle" outline style="cursor: pointer" (click)="close()">
      <nb-icon icon="close-outline" pack="eva"> </nb-icon> {{ 'button.cancel' | translate }}
    </button>
    <button
      [nbSpinner]="showLoading"
      nbSpinnerStatus="basic"
      nbSpinnerMessage="Logging in..."
      nbButton
      shape="rectangle"
      outline
      status="warning"
      style="cursor: pointer"
      (click)="onSubmit()"
    >
      <nb-icon icon="save-outline" pack="eva"> </nb-icon> {{ 'button.save' | translate }}
    </button>
  </nb-card-footer>
</nb-card>
