@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    width: 400px;
    height: 412px;
    max-width: 100%;
    max-height: 100%;
    transform: translate3d(0, 0, 0);
  }
}
