@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }

  .rounded-image {
  border-radius: 5%;
  /* Esto hace que la imagen sea circular */
  }

  .align-right {
    text-align: right;
  }

  // nb-card {
  //   // width: 85em;
  //   // height: 97%;
  //   max-width: 85em;
  //   // max-height: 97%;
  // }
}
