<nb-card
  accent="success"
  [nbSpinner]="loading"
  nbSpinnerStatus="success"
  nbSpinnerSize="small"
  [nbSpinnerMessage]="loadingMsg | translate"
>
  <nb-card-header class="modal-header">
    <span>{{ title }}</span>

    <button type="button" class="close" aria-label="Close" (click)="onNoClick()">
      <span aria-hidden="true">&times;</span>
    </button>
  </nb-card-header>

  <nb-card-body class="modal-body">
    <!-- <nb-alert status="danger" outline="danger">
      <span>Verificar! Esta acción no tiene reverso. </span>
    </nb-alert> -->

    <div class="container">
      <p><b>¿Está usted seguro?</b></p>
      <p>{{ description }}</p>
    </div>
  </nb-card-body>

  <nb-card-footer class="modal-footer">
    <button nbButton shape="rectangle" outline style="cursor: pointer" (click)="onNoClick()">
      <em class="fa fa-fw fa-times"></em>&nbsp;Cancelar
    </button>

    <button nbButton type="button" shape="rectangle" outline status="success" style="cursor: pointer" (click)="onYesClick()">
      <nb-icon icon="checkmark-outline" pack="eva"></nb-icon>{{ 'button.restorePassword' | translate }}
    </button>
  </nb-card-footer>
</nb-card>
