<nb-card
  accent="info"
  [nbSpinner]="showSpinner"
  nbSpinnerStatus="primary"
  nbSpinnerSize="small"
  [style]="modalStyle"
  [nbSpinnerMessage]="spinnerMessage | translate"
>
  <nb-card-header>
    <!-- <span *ngIf="isCreate">Nuevo precio venta plataforma</span>
    <span *ngIf="isUpdate">Modificar precio venta plataforma</span>
    <span *ngIf="isRead">Detalle precio venta plataforma</span> -->
    <span>Vender una plataforma</span>

    <button type="button" class="close" aria-label="Close" (click)="close()" *ngIf="isModal">
      <span aria-hidden="true">&times;</span>
    </button>

    <!-- <button
      *ngIf="!isModal"
      nbButton
      class="close"
      type="button"
      shape="rectangle"
      outline
      size="small"
      style="cursor: pointer"
      [routerLink]="isCreate ? '../list' : '../../list'"
    >
      <em class="fa fa-arrow-left"></em>&nbsp;{{ 'button.back' | translate }}
    </button> -->
  </nb-card-header>

  <nb-card-body class="modal-body">
    <nb-alert *ngIf="isShowAlert" outline="info">
      <span>{{ messageWebAlert }}</span>
    </nb-alert>

    <nb-alert *ngIf="isShowPending" status="danger">
      <span>{{ messagePending }}</span>
    </nb-alert>

    <div class="row" *ngIf="showForm">
      <div class="col-md-6">
        <label for="image"> Imágen </label>
        <img [src]="obj.image" width="100%" class="shadow-4 rounded-image" />
        <br />
        <br />
        <span style="text-align: center">
          <p>{{ obj.desc }}</p>
        </span>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="obj.code"> Código cuenta</label>
          <input type="text" nbInput fullWidth class="form-control" [value]="obj.code" readonly="true" />
        </div>

        <div class="form-group">
          <label for="obj.account"> Usuario </label>
          <input type="text" nbInput fullWidth class="form-control" [value]="obj.account" readonly="true" />
        </div>

        <div class="form-group">
          <label for="obj.password"> Contraseña </label>
          <input type="text" nbInput fullWidth id="password" [value]="obj.password" readonly="true" />
        </div>

        <div class="form-group">
          <label for="obj.duration"> Duración </label>
          <input type="text" nbInput fullWidth id="password" [value]="obj.duration" readonly="true" />
        </div>

        <div class="form-group">
          <label for="obj.duration"> Estado </label>
          <input type="text" nbInput fullWidth id="status" [value]="obj.status | translate" readonly="true" />
        </div>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer class="modal-footer">
    <button nbButton type="button" shape="rectangle" status="basic" outline style="cursor: pointer" (click)="close()">
      <nb-icon icon="close-outline" pack="eva"> </nb-icon> {{ 'button.cancel' | translate }}
    </button>
  </nb-card-footer>
</nb-card>
