<nb-card
  [nbSpinner]="showSpinner"
  nbSpinnerStatus="primary"
  nbSpinnerSize="small"
  [style]="modalStyle"
  [nbSpinnerMessage]="spinnerMessage | translate"
>
  <nb-card-header>
    <span *ngIf="isCreate">Nueva cuenta</span>
    <span *ngIf="isUpdate">Modificar cuenta</span>
    <span *ngIf="isRead">Detalle cuenta</span>

    <button type="button" class="close" aria-label="Close" (click)="close()" *ngIf="isModal">
      <span aria-hidden="true">&times;</span>
    </button>

    <button
      nbTooltip="Volver a listado"
      nbTooltipPlacement="left"
      nbTooltipStatus="info"
      nbButton
      class="close"
      type="button"
      shape="rectangle"
      status="primary"
      outline
      style="cursor: pointer"
      [routerLink]="isCreate ? '../list' : '../../list'"
    >
      <!-- <em class="fa fa-arrow-left"></em>&nbsp;{{ 'button.back' | translate }} -->
      <nb-icon icon="arrow-back-outline" pack="eva"> </nb-icon>{{ 'button.back' | translate }}
    </button>
  </nb-card-header>

  <nb-card-body class="modal-body">
    <nb-tabset (changeTab)="onChangeTab($event)">
      <nb-tab tabTitle="Resumen" tabIcon="briefcase-outline" tabId="briefcase">
        <form [formGroup]="objForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="code" [ngClass]="{ 'text-danger': submitted && f.code.errors }">
                  {{ isCreate ? 'Código temporal' : 'Código' }}
                </label>
                <input type="text" class="form-control" id="code" placeholder="code" formControlName="code" readonly="true" />
                <div *ngIf="submitted && f.code.errors" class="text-danger">
                  <div *ngIf="f.code.errors.required">Es requerido</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="companyId" [ngClass]="{ 'text-danger': submitted && f.companyId.errors }">
                  <span *ngIf="required('companyId')" class="text-danger">*</span>
                  Mayorista
                </label>
                <nb-form-field>
                  <input
                    type="text"
                    nbInput
                    fullWidth
                    [status]="submitted && f.companyTxt.errors ? 'danger' : ''"
                    placeholder="Busque un mayorista"
                    id="companyTxt"
                    [readonly]="true"
                    formControlName="companyTxt"
                  />
                  <button
                    *ngIf="isRoot"
                    nbTooltip="Buscar el mayorista"
                    nbTooltipPlacement="bottom"
                    nbTooltipStatus="info"
                    nbSuffix
                    nbButton
                    ghost
                    type="button"
                    (click)="onOpenCompanySearch()"
                  >
                    <nb-icon [icon]="'search'" [attr.aria-label]="'search'"> </nb-icon>
                  </button>
                </nb-form-field>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="account" [ngClass]="{ 'text-danger': submitted && f.account.errors }">
                  <span *ngIf="required('account')" class="text-danger">*</span>
                  Usuario
                </label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  [status]="submitted && f.account.errors ? 'danger' : ''"
                  placeholder="Ingrese usuario"
                  id="v"
                  formControlName="account"
                />
                <div *ngIf="submitted && f.account.errors" class="text-danger">
                  <div *ngIf="f.account.errors.required">Es requerido</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="password" [ngClass]="{ 'text-danger': submitted && f.password.errors }">
                  <span *ngIf="required('password')" class="text-danger">*</span>
                  Contraseña
                </label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  [status]="submitted && f.password.errors ? 'danger' : ''"
                  placeholder="Ingrese contraseña"
                  id="v"
                  formControlName="password"
                />
                <div *ngIf="submitted && f.password.errors" class="text-danger">
                  <div *ngIf="f.password.errors.required">Es requerido</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="platformId" [ngClass]="{ 'text-danger': submitted && f.platformId.errors }">
                  <span *ngIf="required('platformId')" class="text-danger">*</span>
                  Plataforma
                </label>
                <nb-form-field>
                  <input
                    type="text"
                    nbInput
                    fullWidth
                    [status]="(submitted && f.platformTxt.errors) || selectedCompanyAlert ? 'danger' : ''"
                    placeholder="Busque un mayorista"
                    id="platformTxt"
                    [readonly]="true"
                    formControlName="platformTxt"
                  />
                  <button
                    *ngIf="isRoot"
                    nbTooltip="Buscar la plataforma"
                    nbTooltipPlacement="bottom"
                    nbTooltipStatus="info"
                    nbSuffix
                    nbButton
                    ghost
                    type="button"
                    (click)="onOpenPlatformSearch()"
                  >
                    <nb-icon [icon]="'search'" [attr.aria-label]="'search'"> </nb-icon>
                  </button>
                </nb-form-field>
                <div *ngIf="submitted && f.platformId.errors" class="text-danger">
                  <div *ngIf="f.platformId.errors.required">Es requerido</div>
                </div>
                <div *ngIf="selectedCompanyAlert" class="text-danger">
                  <div>Es requerido (Mayorista)</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" *ngIf="isRoot">
                <label for="cost" [ngClass]="{ 'text-danger': submitted && f.cost.errors }">
                  <span *ngIf="required('cost')" class="text-danger">*</span>
                  Costo Natvi <small>(Solo números decimales)</small>
                </label>
                <nb-form-field>
                  <!-- <nb-icon nbPrefix icon="hash-outline" pack="eva"></nb-icon> -->
                  <input
                    type="text"
                    nbInput
                    fullWidth
                    digitOnly
                    decimal="true"
                    [status]="submitted && f.cost.errors ? 'danger' : ''"
                    placeholder="Ingrese monto"
                    (keypress)="onInputDecimal($event)"
                    id="cost"
                    formControlName="cost"
                  />
                </nb-form-field>
                <div *ngIf="submitted && f.cost.errors" class="text-danger">
                  <div *ngIf="f.cost.errors.required">Es requerido</div>
                  <div *ngIf="f.cost.errors.invalidDecimal">Ingresa un número decimal válido.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="!isCreate">
            <div class="col-md-6">
              <label for="status">
                <span *ngIf="required('status')" class="text-danger">*</span>
                Estado
              </label>
              <nb-select
                placeholder="Selecciona estado"
                outline
                fullWidth
                [status]="submitted && f.status.errors ? 'danger' : 'primary'"
                shape="rectangle"
                id="status"
                formControlName="status"
                [disabled]="isRoot ? false : true"
              >
                <nb-option *ngFor="let itemStatusAccountEnum of listStatusAccountEnum" [value]="itemStatusAccountEnum">{{
                  itemStatusAccountEnum | translate
                }}</nb-option>
              </nb-select>
              <div *ngIf="submitted && f.status.errors" class="text-danger">
                <div *ngIf="f.status.errors.required">Es requerido</div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="f.reference.value != ''">
              <div class="form-group">
                <label for="reference" [ngClass]="{ 'text-danger': submitted && f.reference.errors }">
                  <span *ngIf="required('reference')" class="text-danger">*</span>
                  Referencia
                </label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  [status]="submitted && f.reference.errors ? 'danger' : ''"
                  placeholder="Ingrese referencia"
                  id="v"
                  formControlName="reference"
                  [readonly]="isRoot ? false : true"
                />
                <div *ngIf="submitted && f.reference.errors" class="text-danger">
                  <div *ngIf="f.reference.errors.required">Es requerido</div>
                </div>
              </div>
            </div>
            <div class="col-md-6"></div>
          </div>
        </form>
      </nb-tab>
      <nb-tab tabTitle="Tickets" tabIcon="bookmark-outline" tabId="bookmark" disabled> </nb-tab>
    </nb-tabset>
  </nb-card-body>

  <nb-card-footer class="modal-footer">
    <button nbButton type="button" shape="rectangle" status="basic" outline style="cursor: pointer" (click)="back()">
      <!-- <em class="fa fa-times"></em>&nbsp;Cancelar -->
      <nb-icon icon="close-outline" pack="eva"> </nb-icon> {{ 'button.cancel' | translate }}
    </button>

    <button
      nbButton
      *ngIf="isCreate || isUpdate"
      shape="rectangle"
      outline
      status="success"
      style="cursor: pointer"
      (click)="onSubmit()"
    >
      <!-- <em class="fa fa-hdd"></em>&nbsp;Guardar -->
      <nb-icon icon="save-outline" pack="eva"> </nb-icon> {{ 'button.save' | translate }}
    </button>
  </nb-card-footer>
</nb-card>
