<nb-card
  [nbSpinner]="showSpinner"
  nbSpinnerStatus="success"
  nbSpinnerSize="small"
  [nbSpinnerMessage]="spinnerMessage | translate"
>
  <nb-card-header class="modal-header">
    <span>Importar cuentas</span>

    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </nb-card-header>

  <nb-card-body class="modal-body">
    <nb-alert *ngIf="isAlertError" status="danger" outline="danger">
      <span>{{ messageAlertError }}</span>
    </nb-alert>

    <div class="row">
      <div class="col-md-12">
        <label for="filename">
          <span class="text-danger">*</span>
          Seleccione archivo
        </label>

        <p-fileUpload
          #fu
          name="file"
          [files]="files"
          customUpload="true"
          [auto]="false"
          (onSelect)="onSelect($event)"
          (onRemove)="onRemove($event)"
          (onClear)="onClear($event)"
          (uploadHandler)="onFileUpload($event, fu)"
          [accept]="acceptedFiles"
          invalidFileTypeMessageSummary="Tipo de archivo no válido"
          chooseLabel="Seleccionar"
          uploadLabel="Subir"
          cancelLabel="Cancelar"
          [auto]="true"
          [showUploadButton]="false"
          withCredentials="true"
          maxFileSize="1000000"
        >
          <ng-template let-file pTemplate="file">
            <div class="p-fileupload-row" style="font-size: 14px">
              <div style="width: 260px; word-break: break-all">{{ file.name }}</div>
              <div>{{ getSizeInMegaBytes(file) | number : '1.2-2' }} MB</div>
              <div>
                <button status="danger" outline nbButton type="button" style="cursor: pointer" (click)="removeFile(file, fu)">
                  <i class="pi pi-trash"></i>
                </button>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="content">
            <div class="span12" *ngIf="showLabel">
              <br />
              <div class="row">
                <div class="col" style="text-align: center">
                  <strong>Arrastre y suelte el archivo</strong>
                </div>
              </div>
              <br />
            </div>
          </ng-template>
        </p-fileUpload>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12">
        <nb-alert outline="basic">
          <ul class="message-warning">
            <li>Una vez subida la información las las cuentas pasarán al siguiente estado.</li>
            <li>Los archivos que se aceptan son: *.xls o *.xlsx.</li>
            <li>
              Las información solo se recibe según la plantilla, descargue
              <a href="../../../../assets/files/account-import.xlsx"><span class="badge badge-danger">aquí</span></a
              >.
            </li>
          </ul>
        </nb-alert>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer class="modal-footer">
    <button nbButton type="button" shape="rectangle" outline style="cursor: pointer" (click)="close()">
      <em class="fa fa-times"></em>&nbsp;Cerrar
    </button>
    <button nbButton shape="rectangle" outline status="success" style="cursor: pointer" (click)="onSubmit()">
      <em class="fa fa-hdd"></em>&nbsp;Continuar
    </button>
  </nb-card-footer>
</nb-card>
