<div *ngIf="originL == 'internal'; then enabledTable">loading table</div>

<nb-card accent="info" *ngIf="originL == 'external'">
  <nb-card-header class="modal-header">
    <span> Lista de cuentas </span>
  </nb-card-header>

  <nb-card-body class="modal-body">
    <nb-alert *ngIf="showAlert" outline="info" closable (close)="onCloseAlert()">
      <span>Los registros están ordenados por defecto con el campo "fecha creación".</span>
    </nb-alert>

    <div *ngIf="originL == 'external'; then enabledTable">loading table</div>
  </nb-card-body>
</nb-card>

<ng-template #enabledTable>
  <p-table
    #dt
    [id]="tableName"
    [columns]="selectedCols"
    [value]="objs"
    [resizableColumns]="tablePreference.resizable"
    [reorderableColumns]="tablePreference.reorderable"
    [rowHover]="true"
    [paginator]="true"
    paginatorPosition="top"
    [rows]="10"
    [(selection)]="selectedObjs"
    dataKey="id"
    autoLayout="true"
    [loading]="showSpinner"
    resetPageOnSort="true"
    [exportFilename]="componentName"
    showCurrentPageReport="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    (onRowSelect)="onRowSelect($event)"
    (onRowUnselect)="onRowUnselect($event)"
    (onHeaderCheckboxToggle)="onHeaderCheckboxToggle($event)"
    sortMode="multiple"
    stateStorage="local"
    [stateKey]="tableName"
    styleClass="p-datatable-striped"
    selectionMode="single"
  >
    <ng-template pTemplate="caption">
      <div class="d-flex justify-content-between flex-wrap align-items-center m-0">
        <div class="d-flex flex-wrap align-items-center mb-2 mb-md-0">
          <nb-form-field *ngIf="totalRecords > 0" class="mr-2">
            <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
            <input
              nbTooltip="Búsqueda global"
              nbTooltipPlacement="left"
              nbTooltipStatus="info"
              type="text"
              nbInput
              [(ngModel)]="filterFieldGlobal"
              placeholder="Búsqueda"
              shape="rectangle"
              status="info"
              (change)="globalFilterBtnDisabled = false; dt.filterGlobal($event.target.value, 'contains')"
              (input)="globalFilterBtnDisabled = false; dt.filterGlobal($event.target.value, 'contains')"
            />
          </nb-form-field>

          <button
            *ngIf="totalRecords > 0"
            nbTooltip="Limpiar"
            nbTooltipPlacement="right"
            nbTooltipStatus="info"
            nbButton
            shape="rectangle"
            outline
            status="info"
            style="cursor: pointer"
            (click)="
              filterFieldGlobal = null;
              dt.filterGlobal($event.target.value, 'contains');
              globalFilterBtnDisabled = true;
              dt.clear()
            "
          >
            <nb-icon icon="trash-2-outline" pack="eva"> </nb-icon>
          </button>
        </div>

        <div class="d-flex flex-wrap align-items-right">
          <button
            *ngIf="isRoot && originL == 'internal'"
            nbTooltip="Agregar saldo"
            nbTooltipPlacement="top"
            nbTooltipStatus="info"
            nbButton
            shape="rectangle"
            outline
            status="primary"
            style="cursor: pointer"
            (click)="onOpenForm(cIdL, 'C')"
            class="mr-2"
          >
            <nb-icon icon="plus-outline" pack="eva"></nb-icon>{{ 'button.credit' | translate }}
          </button>

          <button
            *ngIf="isRoot"
            nbTooltip="Editar registro"
            nbTooltipPlacement="top"
            nbTooltipStatus="info"
            nbButton
            shape="rectangle"
            outline
            status="warning"
            style="cursor: pointer"
            [disabled]="actionDisabled"
            (click)="onOpenForm(selectedObj, 'U')"
            class="mr-2"
          >
            <nb-icon icon="edit-2-outline" pack="eva"></nb-icon>
          </button>

          <button
            nbTooltip="Ver registro"
            nbTooltipPlacement="top"
            nbTooltipStatus="info"
            nbButton
            shape="rectangle"
            outline
            status="info"
            style="cursor: pointer"
            [disabled]="actionDisabled"
            (click)="onOpenForm(selectedObj, 'R')"
            class="mr-2"
          >
            <nb-icon icon="eye-outline" pack="eva"></nb-icon>{{ 'button.view' | translate }}
          </button>

          <button
            *ngIf="isRoot"
            nbTooltip="Eliminar registro"
            nbTooltipPlacement="top"
            nbTooltipStatus="info"
            nbButton
            shape="rectangle"
            outline
            status="danger"
            style="cursor: pointer"
            [disabled]="actionDisabled"
            (click)="delete()"
          >
            <nb-icon icon="trash-2-outline" pack="eva"></nb-icon>
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th scope="col" style="width: 2em">
          <p-tableHeaderCheckbox *ngIf="multiSelectRecordDisabled"></p-tableHeaderCheckbox>
        </th>
        <th
          scope="col"
          *ngFor="let col of columns"
          pResizableColumn
          pReorderableColumn
          [pSortableColumn]="tablePreference.sortable ? col.field : ''"
        >
          <div class="flex justify-content-between align-items-center">
            {{ col.header }}
            <p-sortIcon *ngIf="tablePreference.sortable" [field]="col.field"></p-sortIcon>
            <span *ngIf="showFilter">
              <span [ngSwitch]="col.field">
                <p-columnFilter
                  *ngSwitchCase="'status'"
                  [field]="col.field"
                  matchMode="in"
                  hideOnClear="true"
                  display="menu"
                  maxConstraints="3"
                  class="ml-auto"
                  [showMatchModes]="false"
                  [showOperator]="false"
                  [showAddButton]="false"
                >
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-multiSelect
                      [options]="statuses"
                      defaultLabel="Seleccione"
                      optionLabel="label"
                      optionValue="code"
                      selectedItemsLabel="{0} items seleccionados"
                      (onChange)="filter($event.value)"
                    >
                      <ng-template let-option pTemplate="item">
                        <span [class]="'status-badge status-' + (option.code | lowercase)">{{ option.label }}</span>
                      </ng-template>
                    </p-multiSelect>
                  </ng-template>
                </p-columnFilter>
                <p-columnFilter
                  *ngSwitchDefault
                  [field]="col.field"
                  [disabled]="true"
                  [type]="col.type"
                  hideOnClear="true"
                  display="menu"
                  maxConstraints="3"
                  class="ml-auto"
                ></p-columnFilter>
              </span>
            </span>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td>
          <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
        </td>
        <td *ngFor="let col of columns; let i = index" class="ui-resizable-column">
          <div *ngIf="col.field === 'isEnabled'; then enabledControl">loading template</div>
          <div *ngIf="col.field != 'isEnabled' && col.field != 'type' && col.field != 'action'">
            {{
              col.type === 'date'
                ? (rowData[col.field] | date : DATE_FORMAT_LONG)
                : col.type === 'numeric'
                ? (rowData[col.field] | number : NUMBER_FORMAT : LOCALE)
                : (rowData[col.field] | translate)
            }}
          </div>

          <ng-template #enabledControl>
            <nb-toggle
              status="primary"
              [checked]="rowData.isEnabled"
              (checkedChange)="onValueChange($event, rowData.id)"
            ></nb-toggle>
          </ng-template>

          <div *ngIf="col.field === 'type'; then enabledControlType">loading template</div>
          <ng-template #enabledControlType>
            <h6>
              <span class="badge badge-pill badge-{{ rowData.type == 'IN' ? 'success' : 'warning' }}">{{
                (rowData.type == 'IN' ? ' Ingreso ' : ' Egreso ') | translate
              }}</span>
            </h6>
          </ng-template>

          <div *ngIf="col.field === 'action'; then enabledControlAction">loading template</div>
          <ng-template #enabledControlAction>
            <h6>
              <span class="badge badge-{{ rowData.action == 'DEPOSIT' ? 'primary' : 'secondary' }}">{{
                (rowData.action == 'DEPOSIT' ? ' Depósito ' : rowData.action == 'SALE' ? ' Venta ' : 'Reserva') | translate
              }}</span>
            </h6>
          </ng-template>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft" let-state> </ng-template>
    <ng-template pTemplate="paginatorright" let-state>
      <button
        nbTooltip="Actualizar tabla"
        nbTooltipPlacement="bottom"
        nbTooltipStatus="info"
        nbButton
        ghost
        (click)="
          filterFieldGlobal = null;
          dt.filterGlobal($event.target.value, 'contains');
          globalFilterBtnDisabled = true;
          dt.clear();
          initAll()
        "
      >
        <nb-icon icon="refresh-outline"></nb-icon>
      </button>
      <button
        *ngIf="tablePreference.exportable"
        nbTooltip="Exportar tabla"
        nbTooltipPlacement="bottom"
        nbTooltipStatus="info"
        nbButton
        ghost
        (click)="openTableExport(dt)"
      >
        <nb-icon icon="download-outline"></nb-icon>
      </button>
      <button
        *ngIf="tablePreference.filterable"
        nbTooltip="Filtrar tabla"
        nbTooltipPlacement="bottom"
        nbTooltipStatus="info"
        nbButton
        ghost
        (click)="onFilterClick(dt)"
        [ngClass]="{ classFilter: showFilter }"
      >
        <nb-icon icon="funnel-outline"></nb-icon>
      </button>
      <button
        nbTooltip="Configurar tabla"
        nbTooltipPlacement="bottom"
        nbTooltipStatus="info"
        nbButton
        ghost
        (click)="openTablePreference()"
      >
        <nb-icon icon="settings-outline"></nb-icon>
      </button>
    </ng-template>
    <ng-template pTemplate="loadingbody" let-columns="columns">
      <tr>
        <td>{{ 'spinner.loading' | translate }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length + 1">{{ 'primeng.emptyMessage' | translate }}</td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>
