<nb-card
  accent="info"
  [nbSpinner]="showSpinner"
  nbSpinnerStatus="primary"
  nbSpinnerSize="small"
  [style]="modalStyle"
  [nbSpinnerMessage]="spinnerMessage | translate"
>
  <nb-card-header>
    <span *ngIf="isCreate">Nueva reserva</span>
    <span *ngIf="isUpdate">Modificar reserva</span>
    <span *ngIf="isRead">Detalle reserva</span>

    <button type="button" class="close" aria-label="Close" (click)="close()" *ngIf="isModal">
      <span aria-hidden="true">&times;</span>
    </button>

    <button
      *ngIf="!isModal"
      nbButton
      class="close"
      type="button"
      shape="rectangle"
      outline
      style="cursor: pointer"
      [routerLink]="isCreate ? '../list' : '../../list'"
    >
      <em class="fa fa-arrow-left"></em>&nbsp;{{ 'button.back' | translate }}
    </button>
  </nb-card-header>

  <nb-card-body class="modal-body">
    <nb-alert *ngIf="isAlertError" status="danger" outline="danger" closable (close)="onCloseAlertError()">
      <span>{{ messageAlertError }}</span>
    </nb-alert>

    <nb-alert *ngIf="isAlertInit" status="primary" outline="primary" closable (close)="onCloseAlertInit()">
      <span>{{ messageAlertInit }}</span>
    </nb-alert>

    <form [formGroup]="objForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="platformId" [ngClass]="{ 'text-danger': submitted && f.platformId.errors }">
              <span *ngIf="required('platformId')" class="text-danger">*</span>
              Plataforma
            </label>
            <nb-form-field>
              <input
                type="text"
                nbInput
                fullWidth
                [status]="(submitted && f.platformTxt.errors) || selectedCompanyAlert ? 'danger' : 'basic'"
                placeholder="Busque la plataforma"
                id="platformTxt"
                [readonly]="true"
                formControlName="platformTxt"
              />
              <button
                nbTooltip="Buscar la plataforma"
                nbTooltipPlacement="bottom"
                nbTooltipStatus="info"
                nbSuffix
                nbButton
                ghost
                type="button"
                (click)="onOpenPlatformSearch()"
              >
                <nb-icon [icon]="'search'" [attr.aria-label]="'search'"> </nb-icon>
              </button>
            </nb-form-field>
            <div *ngIf="submitted && f.platformId.errors" class="text-danger">
              <div *ngIf="f.platformId.errors.required">Es requerido</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="count" [ngClass]="{ 'text-danger': submitted && f.count.errors }">
              <span *ngIf="required('count')" class="text-danger">*</span>
              Cantidad
            </label>
            <nb-select
              placeholder="Selecciona duración"
              outline
              fullWidth
              [status]="submitted && f.count.errors ? 'danger' : 'primary'"
              shape="rectangle"
              id="count"
              formControlName="count"
            >
              <nb-option *ngFor="let itemBookingCountEnum of listBookingCountEnum" [value]="itemBookingCountEnum">{{
                itemBookingCountEnum + ' UNIDADES' | translate
              }}</nb-option>
            </nb-select>
            <div *ngIf="submitted && f.count.errors" class="text-danger">
              <div *ngIf="f.count.errors.required">Es requerido</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="fromAt" [ngClass]="{ 'text-danger': submitted && f.fromAt.errors }">
              <span *ngIf="required('fromAt')" class="text-danger">*</span>
              Fecha desde
            </label>
            <br />
            <input
              nbInput
              fullWidth
              placeholder="Seleccione fecha"
              id="fromAt"
              formControlName="fromAt"
              [nbDatepicker]="picker"
              readonly
            />
            <!-- <nb-datepicker #picker [min]="min" [max]="max" format="yyyy-MM-dd"></nb-datepicker> -->
            <nb-datepicker
              #picker
              [min]="min"
              [max]="max"
              format="yyyy-MM-dd"
              (dateChange)="updateUntilAt($event)"
            ></nb-datepicker>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="untilAt" [ngClass]="{ 'text-danger': submitted && f.untilAt.errors }">
              <span *ngIf="required('untilAt')" class="text-danger">*</span>
              Fecha hasta
            </label>
            <input
              nbInput
              fullWidth
              id="untilAt"
              formControlName="untilAt"
              placeholder="Seleccione fecha"
              [value]="untilAtTxt"
              readonly
            />
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>

  <nb-card-footer class="modal-footer">
    <button nbButton type="button" shape="rectangle" status="basic" outline style="cursor: pointer" (click)="close()">
      <!-- <em class="fa fa-times"></em>&nbsp;Cancelar -->
      <nb-icon icon="close-outline" pack="eva"> </nb-icon> {{ 'button.cancel' | translate }}
    </button>

    <button
      nbButton
      *ngIf="isCreate || isUpdate"
      shape="rectangle"
      outline
      status="success"
      style="cursor: pointer"
      (click)="onSubmit()"
    >
      <!-- <em class="fa fa-hdd"></em>&nbsp;Guardar -->
      <nb-icon icon="save-outline" pack="eva"> </nb-icon> {{ 'button.save' | translate }}
    </button>
  </nb-card-footer>
</nb-card>
